h1{font-size: 40px;
color: blue;
}
h2{font-size: 20px;
color:green;
}
.big {
    font-size: 50px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: palevioletred;
}
h1 span{
    color: rgb(101, 224, 64);
    background-color: purple;
}
body{
    background-color: red;
}